<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="com.outsystems.plugins.filechooser" 
    version="1.0.2">
    
    <name>KitKat FileChooser</name>
    <description>FileChooser for Cordova applications running on Android 4.4 (KitKat)</description>
    <license>MIT</license>
    <keywords>cordova,outsystems,filechooser,android</keywords>

    <js-module src="www/FileChooser.js" name="FileChooser">
        <clobbers target="FileChooser" />
    </js-module>

    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/widget">        
            <feature name="FileChooser">
                <param name="android-package" value="com.outsystems.plugins.filechooser.FileChooser"/>
            </feature> 
        </config-file> 
                
        <source-file src="src/android/FileChooser.java" target-dir="src/com/outsystems/plugins/filechooser"/>
        <source-file src="src/android/filechooser/FileUtils.java" target-dir="src/com/ipaulpro/afilechooser/utils" />        
        <source-file src="src/android/localstorage/LocalStorageProvider.java" target-dir="src/com/ianhanniballake/localstorage" />
                        
    </platform>

    <platform name="ios">
         <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
             <string>We access your camera to take pictures</string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
             <string>We access your microphone to capture sound</string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
             <string>We access your photo library to load or save pictures</string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
             <string>We access your location to improve your experience</string>
         </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>We access your location to improve your experience</string>
        </config-file>
    </platform>
    
</plugin>
